.App {
  text-align: center;
}

body {
	background: rgb(223, 223, 223);
	font-family: arial, helvetica, sans-serif;
	margin: 20px 50px 50px 50px;

}
 
.wrap {
	margin: auto;
	max-width: 800px;
	width: 90%;
}
 
.principal {
	background:rgba(199, 237, 255, 0.829);
	color: #fff;
	padding: 50px 0;
	width: 100%;
}
 
.principal .formulario {
	color: #212121;
	text-align: center;
}
 
.principal .formulario input[type=text] {
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;

}
 
.principal .formulario input[type=text].error {
	border: 5px solid wheat;
	color:  red;

}
 
.principal .formulario .boton {
	background: maroon;
	border: 1px solid maroon;
	
	color: white;
	display: inline-block;
	font-size: 16px;
	padding: 15px;
}
 
 
/* - Tareas - */
.tareas .lista {
	list-style: none;
}
 
.tareas .lista li {
	border-bottom: 1px solid rgb(219, 19, 19);
}
 
.tareas .lista li a {
	color: #212121;
	display: block;
	padding: 20px 0;
	text-decoration: none;
}
 
.tareas .lista li a:hover {
	text-decoration: line-through;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}




.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
